.team{
    padding: 5rem 0;
    background: var(--secondary);
    color: white;
}
.team__head-title{
    color: var(--primary);
}
.team__body{
    margin-top: 5rem;
}
.team__item{
    background: var(--primary);
    color: white;
    max-width: 200px;
}
.team__item-img{
    border-radius: 50%;
    object-fit: cover;
    width: 150px;
    height: 150px;
}