.header__navbar{
    background: transparent;
    border-bottom: 1px solid white ;
    /* margin-left: 50px; */
}
.header__navbar-white{
    background: white;
}
.header__navbar-brand{
    background-color: var(--secondary);
}
.header__navbar-brand-white{
    background: white;
}
.header__logo{
    width: 200px !important;
    height: auto !important;
    max-height: 65px !important;
}
.menu__hidden-icon{
    cursor: pointer;
    transition: all .3s;
}
.menu__hidden-icon:hover{
    color: var(--primary);
}

.menuTooltip{
    width: 30%;
    position: fixed;
    right: 0;
    height: 100vh;
    z-index: 999;

}
.menuTooltip__body{
    height: 100%;
}
.menuTooltip__icon{
    background-color: var(--primary);
    border-radius: .5rem;
    color: white;
    cursor: pointer;
    height: 48px;
    width: 48px;
    position: absolute;
    top: 1rem;
}
.menuTooltip__body-titles{
    color: var(--primary);
}