:root{
    --primary: #0093ff;
    --secondary: #0D0F18;
    --third: #000033; 
}
/* Social icons  */
.social{

}
.social__icons {
    width: 2rem;
    height: 2rem;
}
.social__icon{
    cursor: pointer;
    color: white;
    transition: all .4s ease-out;
}
/* .social__icons:hover{
    border: solid 1px var(--primary);
} */
    .social__icon:hover{
        color: var(--primary);
    }
    .social__icons:hover{
        background: white;
        border-radius: .4rem;
    }
    .social__icons:hover .social__icon{
        color: var(--primary);
    }
.primary{
    color:  var(--primary);
    transition: all .4s;
}
.secondary{
    color: var(--secondary);
    transition: all .4s;
}

.form__select, .select__expanded{
    width: 100%;
}